DATABASE_URL=
FASTROUTER_API_KEY=
FASTROUTER_BASE_URL=
FASTROUTER_CHAT_MODEL=
FASTROUTER_EMBEDDING_MODEL=
FASTROUTER_MAX_RETRIES=
FASTROUTER_TIMEOUT=
JWT_SECRET_KEY=
LANGCHAIN_TRACING_V2=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
LANGCHAIN_ENDPOINT=
